torch==2.1.2
torchvision==0.16.2
numpy==1.26.4
opencv-python==4.8.1.78
pillow==10.1.0
matplotlib==3.8.0
tqdm==4.66.1
einops==0.7.0
scipy==1.11.4
scikit-image==0.22.0
python-dotenv==1.0.1
diffusers==0.29.2
transformers==4.42.4
gradio==4.44.1
gradio-modal==0.0.3
python-dotenv
boto3==1.40.64