openapi: 3.0.3
info:
  title: OpenTryOn Media Providers (upstream)
  description: |
    OpenAPI snapshot of upstream image/video endpoints integrated into OpenTryOn.
    The primary developer surfaces remain the `opentryon` CLI and MCP server
    (`tryon.cli.registry`). Import this file into Swagger UI / Redoc / Postman.
  version: 1.0.0
servers:
  - url: https://ark.ap-southeast.bytepluses.com/api/v3
    description: BytePlus ModelArk (Seedance / Seedream)
  - url: https://api-singapore.klingai.com
    description: Kling AI Open Platform
  - url: https://agents.lumalabs.ai/v1
    description: Luma Agents API (Ray 3.2)
  - url: https://api.x.ai/v1
    description: xAI Grok Imagine
  - url: https://api.ideogram.ai
    description: Ideogram
  - url: https://api.pruna.ai
    description: Pruna AI (P-Image / P-Video family)
paths:
  /contents/generations/tasks:
    post:
      tags: [Seedance]
      summary: Create Seedance video task
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, content]
              properties:
                model:
                  type: string
                  example: seedance-2-5
                  description: seedance-2-5 or dreamina-seedance-2-0-* variants
                content:
                  type: array
                  items:
                    type: object
                ratio:
                  type: string
                  enum: ["21:9", "16:9", "4:3", "1:1", "3:4", "9:16"]
                resolution:
                  type: string
                  enum: [480p, 720p, 1080p, 2k, 4k]
                duration:
                  type: integer
                generate_audio:
                  type: boolean
      responses:
        "200":
          description: Task created
  /images/generations:
    post:
      tags: [Seedream, GrokImagine]
      summary: Generate image (Seedream on ModelArk; Grok on xAI — same path shape)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, prompt]
              properties:
                model:
                  type: string
                  examples:
                    seedream: seedream-5-0-pro-260628
                    grok: grok-imagine-image-quality
                prompt:
                  type: string
                size:
                  type: string
                aspect_ratio:
                  type: string
                resolution:
                  type: string
                n:
                  type: integer
      responses:
        "200":
          description: Image generation result
  /v1/videos/text2video:
    post:
      tags: [Kling]
      summary: Kling text-to-video (3.0 / Turbo)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                model_name:
                  type: string
                  enum: [kling-v3, kling-v2-5-turbo]
                prompt:
                  type: string
                duration:
                  type: string
                mode:
                  type: string
                  enum: [std, pro]
                aspect_ratio:
                  type: string
                sound:
                  type: string
                  enum: [on, off]
      responses:
        "200":
          description: Task accepted
  /v1/videos/omni-video:
    post:
      tags: [Kling]
      summary: Kling 3.0 Omni video
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_name:
                  type: string
                  example: kling-v3-omni
                prompt:
                  type: string
                duration:
                  type: string
                mode:
                  type: string
                  enum: [std, pro, 4k]
      responses:
        "200":
          description: Task accepted
  /generations:
    post:
      tags: [LumaRay]
      summary: Luma Agents Ray 3.2 video generation
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, type]
              properties:
                model:
                  type: string
                  example: ray-3.2
                type:
                  type: string
                  example: video
                prompt:
                  type: string
                aspect_ratio:
                  type: string
                video:
                  type: object
                  properties:
                    resolution:
                      type: string
                    duration:
                      type: string
                    start_frame:
                      type: object
                    end_frame:
                      type: object
                    hdr:
                      type: boolean
      responses:
        "200":
          description: Generation created
  /videos/generations:
    post:
      tags: [GrokImagine]
      summary: xAI Grok Imagine Video 1.5
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, prompt]
              properties:
                model:
                  type: string
                  example: grok-imagine-video-1.5
                prompt:
                  type: string
                duration:
                  type: integer
                aspect_ratio:
                  type: string
                resolution:
                  type: string
                  enum: [480p, 720p, 1080p]
                image:
                  type: object
      responses:
        "200":
          description: Async video request accepted
  /v1/ideogram-v4/generate:
    post:
      tags: [Ideogram]
      summary: Ideogram 4.0 generate
      parameters:
        - in: header
          name: Api-Key
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text_prompt]
              properties:
                text_prompt:
                  type: string
                rendering_speed:
                  type: string
                  enum: [TURBO, DEFAULT, QUALITY]
                aspect_ratio:
                  type: string
                num_images:
                  type: integer
      responses:
        "200":
          description: Images generated
  /v1/predictions:
    post:
      tags: [Pruna]
      summary: Create Pruna prediction (Model header selects p-image / p-image-edit / p-image-upscale / p-video / p-video-replace / p-video-avatar / p-video-animate / …)
      parameters:
        - in: header
          name: apikey
          required: true
          schema:
            type: string
        - in: header
          name: Model
          required: true
          schema:
            type: string
            enum:
              - p-image
              - p-image-edit
              - p-image-upscale
              - p-image-try-on
              - p-video
              - p-video-replace
              - p-video-avatar
              - p-video-animate
        - in: header
          name: Try-Sync
          schema:
            type: string
            example: "true"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                input:
                  type: object
                  description: Model-specific input (prompt, images, video, duration, …)
            examples:
              pImage:
                summary: p-image
                value:
                  input:
                    prompt: Editorial fashion still
                    aspect_ratio: "3:4"
              pVideo:
                summary: p-video
                value:
                  input:
                    prompt: Runway walk
                    duration: 5
                    resolution: 720p
      responses:
        "200":
          description: Prediction accepted or completed (when Try-Sync)
  /v1/files:
    post:
      tags: [Pruna]
      summary: Upload temporary media for Pruna predictions
      parameters:
        - in: header
          name: apikey
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                content:
                  type: string
                  format: binary
      responses:
        "200":
          description: File uploaded; use urls.get as image/video URI
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Seedance
  - name: Seedream
  - name: Kling
  - name: LumaRay
  - name: GrokImagine
  - name: Ideogram
  - name: Pruna
